.messagesContainer {
    width: 768px;
    height: 856px;
}

.messagesList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.chatBubble {
  border-radius: 20px;
  padding: 24px;
}

.me {
  background-color: #d9d9d9;
}

.other {
  background-color: #f1f1f3; 
}

.messageText {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.25;
  color: #000;
  margin: 0;
  padding: 0;
}

