.messagesContainer {
	display: flex;
	align-items: end;
	width: 846px;
	height: 856px;
}

.messagesList {
	width: 100%;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 32px;
	margin: 0;
	padding: 0;

}
