.messagesContainer {
	width: 846px;
	height: 856px;
}

.messagesList {
	width: 100%;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 32px;
	margin: 0;
	padding: 0;
}

.messageItem {
	border-radius: 20px;
	padding: 24px;
	background-color: #d9d9d9;
	position: relative;
}

.me {
	background-color: #d9d9d9;
}

.other {
	background-color: #f1f1f3;
}

.chatBubble {
	font-family: 'Raleway', Arial, sans-serif; // Откуда шрифт?
	font-size: 32px;
	font-weight: 500;
	line-height: 1.25;
	color: #000;
	margin: 0;
	padding: 0;
}

.messageItem::before,
.messageItem::after {
	content: '';
	position: absolute;
	bottom: 0;
	height: 25px;
}

.me::before {
	left: -7px;
	width: 20px;
	background-color: #d9d9d9;
	border-bottom-right-radius: 16px 14px;
}

.me::after {
	left: -26px;
	width: 26px;
	background-color: #fff;
	border-bottom-right-radius: 10px;
}

.other::before {
	left: -7px;
	width: 20px;
	background-color: #f1f1f3;
	border-bottom-right-radius: 16px 14px;
}

.other::after {
	left: -26px;
	width: 26px;
	background-color: #fff;
	border-bottom-right-radius: 10px;
}
