.howItWorksSection {
	display: flex;
	padding: 100px 80px;
	margin: 0;
	flex-direction: column;
	justify-content: space-between;
	color: black;
	font-family: Montserrat, Arial, sans-serif;
	max-width: 1280px;

	.mainSubHeader {
		font-weight: 600;
		font-size: 40px;
		line-height: 44px;
		padding: 0;
		margin: 0;
	}

	.featuresBlock {
		display: flex;
		gap: 20px;
		margin: 32px 0;
	}

	.featuresElement {
		display: flex;
		width: 414px;
		gap: 20px;
		flex-direction: column;
		border-radius: 20px;
		// border: 1px black solid;
		padding: 50px 50px 60px 50px;
		justify-content: center;
		background-color: white;
	}

	.featuresIcon {
		width: 60px;
		height: 60px;
		align-self: center;

		&.iconNote {
			background-image: url(../../../images/icon-note.svg);
		}

		&.iconSync {
			background-image: url(../../../images/icon-sync.svg);
		}

		&.iconMessage {
			background-image: url(../../../images/icon-message.svg)
		}
	}

	.featuresText {
		font-weight: 400;
		font-size: 24px;
		line-height: 36px;
		padding: 0;
		margin: 0;
		text-align: center;
	}

	.helpForm {
		display: flex;
		flex-direction: column;
		padding: 31px 0 0 0;
	}

	.helpFormBlock {
		display: flex;
		flex-direction: column;
		padding: 70px 0 0 0;
	}

	.helpFormText {
		font-weight: 400;
		font-size: 24px;
		line-height: 36px;
		padding: 12px 0 0 0;
		margin: 0;
		max-width: 650px;
	}

	.nameInputBlock {
		display: flex;
		gap: 20px;
		align-items: center;
	}

	.checkBox {
		margin: 0 12px 0 0;
	}

	.textInputBlock {
		display: flex;
		justify-content: space-between;
	}

	.textInputInfo {
		width: 303px;
		padding: 16px;
		border: 1px black solid;
		border-radius: 20px;
	}

	.textInput {
		display: flex;
		width: 933px;
		height: 218px;
		padding: 10px;
		align-items: center;
		resize: none;
		border-radius: 10px;
		// background-color: #f2f2f2;
		border: 1px #A9C6C5 solid;
	}

	.mainBtn {
		width: 256px;
		height: 48px;
		padding: 0;
		margin: 31px 0 0;
		font-weight: 600;
		font-size: 20px;
		line-height: 24px;
		background-color: black;
		border-radius: 12px;
		color: white;
		text-decoration: none;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		border: transparent;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: #A9C6C5;
			color: black;
		}
	}

	.input {
		width: 480px;
		padding: 20px;
		border-radius: 10px;
		font-size: 16px;
		line-height: 24px;
		// background-color: #f2f2f2;
		border: 1px #A9C6C5 solid;
		margin: 0 0 49px 0;
	}

	.inputCaption {
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		margin: 0 0 7px 0;
		padding: 0;
	}

	.inputWrong {
		border-color: #ff0909;
		color: #ff0909;
	}

	.inputWrong::placeholder {
		color: #ff0909;
	}

	.inputWrong:focus {
		outline-color: #ff0909;
	}

	.error {
		color: #ff0909;
	}
}