.step3 {
	display: flex;
	flex-direction: column;
}

.form {
	margin: 40px 0;
	width: 300px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
}

.buttons {
	display: flex;
	gap: 10px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-left: auto;
}

.certificateContainer {
	width: 250px;
	height: 250px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	border: 1px rgb(147, 147, 147) solid;
	padding-bottom: 15px;
}

.inputBtn {
	position: relative;
	box-sizing: border-box;
	width: 150px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: rgb(83 83 83);
}

.input {
	position: absolute;
	cursor: pointer;
	left: 0;
	right: 0;
	font-size: 0;
	width: 150px;
	height: 40px;
	opacity: 0;
	z-index: 2;
}

.documents {
	width: 100%;
	height: 100%;
	background-color: rgb(147, 147, 147);
}
