.body {
	width: 955px;
	background-color: rgba(235, 231, 220, 1);
}

.header {
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
	line-height: 36px;
	margin-bottom: 12px;
}

.p {
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 36px;
	margin: 0;
}

.ul {
	padding: 0;
}

.photo {
	border-radius: 20px;
	height: 80px;
	width: 80px;
}

.listElement {
	display: flex;
	gap: 20px;
	margin-bottom: 20px;
}

.listDocument {
	list-style: none;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 22px;
	display: flex;
	gap: 20px;
	margin-top: 10px;
}
