.container {
	margin: 108px auto 582px 297px;
	max-width: 738px;
}

.header {
    margin: 0 0 34px 0;
	font-size: 40px;
	font-weight: 600;
	line-height: 44px;
}

.paragraph {
	font-size: 24px;
	font-weight: 400;
	line-height: 34px;
}
