.chat {
	display: flex;
	justify-content: space-between;
	height: 79px;
	border-radius: 20px;
	background-color: #d9d9d9;
	height: 142px;
}

.chatItem:hover {
	background-color: #f2f2f2;
}

.number {
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.2;
	color: #212028;
	margin: 24px auto 20px 24px;
	padding: 0;
}

.name {
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.25;
	color: #212028;
	margin: 0 auto 12px 24px;
	padding: 0;
}

.problem {
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.25;
	color: #212028;
	margin: 0 auto 24px 24px;
	padding: 0;
}

.chatButton {
	border: 2px solid #212028;
	border-radius: 20px;
	background-color: #d9d9d9;;
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.25;
	color: #212028;
	padding: 12px 32px;
	text-decoration: none;
	margin: 70px 24px 28px auto;
}

.chatButton:hover {
	cursor: pointer;
	opacity: 0.7;
	transition: 1s ease;
}
