.faqSection {
	display: flex;
	padding: 100px;
	margin: 0;
	flex-direction: column;
	justify-content: space-between;
	gap: 10px;
	width: 1280px;
	// border: 1px red solid;

	.mainSubHeader {
		color: rgba(52, 52, 52, 1);
		font-weight: 600;
		font-size: 40px;
		line-height: 44px;
		padding: 0;
		margin: 0;
		/* border: 1px red solid; */

		&.boldLeft {
			font-weight: 600;
			align-self: start;
		}
	}

	.mainText {
		color: rgba(52, 52, 52, 1);
		font-weight: 400;
		max-width: 700px;
		font-size: 24px;
		line-height: 36px;
		padding: 0;
		margin: auto;
		/* border: 1px red solid; */
	}

	.faqBlock {
		display: flex;
		flex-direction: column;
		margin: 0;
		padding: 0;
		padding: 21px 0 0 0;
	}

	.toggle {
		cursor: pointer;
		transition: transform 0.3s ease;
		margin: 0;
		padding: 0;
		justify-content: center;
		align-items: center;
	}

	.plus {
		display: inline-block;
		transition: transform 0.3s ease;
		margin: 0 0 0 0;
		padding: 0;
		transform: rotate(45deg);
	}

	.expanded .plus {
		transform: rotate(180deg);
	}

	.faqElement {
		margin: 0 0 0 0;
		padding: 29px 0 0 0;
		width: 846px;
	}

	.faqQuestion {
		display: flex;
		// border: 1px red solid;
		margin: 0;
		padding: 0 0 35px 0;
		justify-content: space-between;
	}

	.faqQuestionText {
		// border: 1px red solid;
		font-weight: 400;
		font-size: 24px;
		line-height: 36px;
		margin: 0;
		padding: 0;
	   color:rgba(52, 52, 52, 1)
	}

	.faqAnswer {
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.4s ease-in-out;
		margin: 0;
		padding: 0;
		border-bottom: 1px black solid;
	}

	.faqAnswerText {
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
		margin: 0;
		padding: 0;
	  color:rgba(52, 52, 52, 1)
	}

	.expandedAnswer {
		max-height: 100px;
		border: transparent;
	}
}
