.formsBody {
	margin: 0 40px;
}

.header {
	margin-bottom: 32px;
}

.form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, 1fr);
	gap: 10px;
}

.name {
	grid-area: 2/1/3/2;
}

.email {
	grid-area: 3/1;
}

.birthData {
	grid-area: 4/1;
}

.label {
	width: 343px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;

	span {
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 140%;
		margin-bottom: 8px;
	}

	.input {
		background-color: #f2f4f8;
		border: none;
		border-bottom: 1px solid #c1c7cd;
		padding: 12px 16px;
		font-size: 16px;
		color: #697077;
	}
}

.imageBox {
	grid-area: 2/2/5/3;
}
