input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
	display: none;
	-webkit-appearance: none;
}

.container {
	max-width: 846px;
	margin: 0 auto;
}

.header {
	margin: 80px 0 32px;
	font-size: 40px;
	font-weight: 600;
	line-height: 44px;
}

.form {
	max-width: 481px;
	display: flex;
	flex-direction: column;
}

.inputCaption {
	color: #212028;
	margin: 0 0 8px;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.input {
	margin: 0 0 20px;
	width: calc(100% - 40px);
	height: 64px;
	border-radius: 20px;
	padding: 0 20px;
	border: 1px solid #212028;
	color: #6f6f6f;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.inputWrong {
	border-color: #ff0909;
	color: #ff0909;
}

.inputWrong::placeholder {
	color: #ff0909;
}

.inputWrong:focus {
	outline-color: #ff0909;
}

.error {
	margin: -16px 0 0;
	color: #ff0909;
}

.passwordContainer {
	margin: 0;
	width: 100%;
	position: relative;
}

.eyeBtn {
	position: absolute;
	right: 10px;
	top: 18px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.eyeBtnWrong {
	color: #ff0909;
}

.passwordSpan {
	margin: 0;
	color: #212028;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
}

.button {
	margin: 4px 0 76px;
	width: 209px;
	height: 48px;
}

.apiError {
	margin: 20px 0 0;
	color: #ff0909;
}
