input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
	display: none;
	-webkit-appearance: none;
}

.container {
	max-width: 846px;
	margin: 105px auto 25px 300px;
}

.header {
	margin: 0 0 14px;
	font-size: 40px;
	font-weight: 600;
	line-height: 44px;
}

.caption {
	margin: 0;
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
}

.form {
	margin-top: 32px;
	max-width: 481px;
	display: flex;
	flex-direction: column;
}

.inputCaption {
	color: rgba(52, 52, 52, 1);
	margin: 0 0 5px;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.input {
	margin: 0 0 20px;
	width: 100%;
	height: 64px;
	border-radius: 10px;
	padding: 0 20px;
	border: 1px solid #a9c6c5;
	color: #6f6f6f;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.input:focus {
    outline-style: solid;
	outline-color: #a9c6c5;
}

.inputWrong {
	border-color: #ff0909;
	color: #ff0909;
}

.inputWrong::placeholder {
	color: #ff0909;
}

.inputWrong:focus {
	outline-style: solid;
	outline-color: #ff0909;
}

.error {
	margin: -16px 0 0;
	color: #ff0909;
}

.passwordContainer {
	margin: 0;
	width: 100%;
	position: relative;
}

.button {
	margin: 4px 0 76px;
	width: 209px;
	height: 48px;
}

.apiError {
	margin: 20px 0 0;
	color: #ff0909;
}
