.main {
	display: flex;
	padding: 0;
	margin: 0;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 0;
	box-sizing: border-box;
	justify-content: space-between;
	background-color: #F2F2F2;
	background-position: center;
	background-size: cover;
}
