.chats {
	margin: 80px 0;
  width: 954px;
}

.title {
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 40px;
	font-weight: 600;
	line-height: 1.1;
	color: #212028;
	margin: 0 0 32px 0px;
	padding: 0;
	min-height: 29px;
}

.dashboard {
	display: flex;
	gap: 20px;
	list-style: none;
	margin: 0 0 32px 0;
	padding: 0;
}

.dashboardItem {
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1,25;
	color: #6f6f6f;
	margin: 0;
	padding: 0 0 8px 0;
	border: none;
	background: none;
}

.dashboardItem.active {
	border-bottom: 2px solid #4f4f4f;
  color: #212028;
}

.dashboardItem:hover {
	cursor: pointer;
	opacity: 0.7;
	transition: 1s ease;
}

.chatsList {
  width: 100%;
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding: 0;
	margin: 0 auto 80px 0;
}

.chatItem {
	display: flex;
	justify-content: space-between;
	height: 79px;
	border-radius: 20px;
  background-color: #d9d9d9;
}

.chatItem:hover {
	background-color: #f2f2f2;
}

.chatNumber {
	font-family: 'Inter', Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	color: #4f4f4f;
	margin: 17px 8px;
	padding: 0;
}

.name {
	font-family: 'Inter', Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	color: #4f4f4f;
	margin: 17px 8px;
	padding: 0;
}

.problem {
	font-family: 'Inter', Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	color: #4f4f4f;
	margin: 17px 8px;
	padding: 0;
}

.chatButton {
	border: none;
	font-family: 'Inter', Arial, sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.2;
	color: #21272a;
	align-self: last baseline;
	text-decoration: none;
	margin: 50px 8px 8px 0;
}

.chatButton:hover {
	cursor: pointer;
	opacity: 0.7;
	transition: 1s ease;
}
