.headerNav {
	display: flex;
	gap: 16px;
	text-decoration: none;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	color: black;
	padding: 0 0 0 3px;
	margin: 0;
	width: 100%;
}

.navLinks {
	display: flex;
	gap: 16px;
	padding-left: 64px;
	justify-content: center;
	margin-left: 100px;
}

.mainBtn {
	width: 329px;
	height: 48px;
	padding: 0;
	margin: 0;
	font-size: 20px;
	background-color: black;
	border-radius: 40px;
	color: white;
	text-decoration: none;
	align-items: center;
	justify-content: center;
}

.navLink {
	text-decoration: none;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	color: black;
	padding: 0;
	margin: 0;

	&:hover {
		opacity: 0.8;
	}
}

.navAuthbar {
	display: flex;
	gap: 30px;
	align-items: center;
}

//   @media screen and (max-width: 800px) {}
