.headerNav {
  display: flex;
  gap: 16px;
  text-decoration: none;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  color: black;
  padding: 0 0 0 3px;
  margin: 0;
  width: 100%;
}

.navLinks {
  display: flex;
  gap: 16px;
  padding-left: 64px;
  justify-content: center;
  color: rgb(222, 222, 222);
}

.navBtn {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 15px;
  cursor: pointer;
  color: rgb(222, 222, 222);
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

.navLink {
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: rgb(222, 222, 222);
  padding: 0;
  margin: 0;

  &:hover {
    opacity: 0.8;
  }
}

.navAuthbar {
  display: flex;
  gap: 30px;
  align-items: center;
}

//   @media screen and (max-width: 800px) {}