.step2 {
	display: flex;
	flex-direction: column;
}

.form {
	margin: 40px 0;
	width: 300px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
}

.buttons {
	display: flex;
	gap: 10px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-left: auto;
}
