.container {
	max-width: 604px;
	margin: 110px auto 438px 297px;
}

.header {
	margin: 0 0 36px;
	font-size: 40px;
	font-weight: 600;
	line-height: 44px;
}

.paragraph {
	margin: 0 0 46px;
	font-size: 24px;
	font-weight: 400;
	line-height: 34px;
}

.link {
	display: block;
	width: 331px;
	height: 48px;
}
