.container {
	min-width: 845px;
	margin: 0 auto;
}

.header {
	margin: 80px 0 32px;
	width: 524px;
	font-size: 40px;
	font-weight: 600;
	line-height: 44px;
}

.caption {
	color: #21272a;
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
}

.form {
	display: flex;
	flex-direction: column;
}

.inputCaption {
	color: #212028;
	margin: 0 0 8px;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.input {
	margin: 0 0 20px 0;
	width: 484px;
	height: 64px;
	border-radius: 20px;
	padding: 0 20px;
	border: 1px solid #212028;
	color: #6f6f6f;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.inputWrong {
	border-color: #ff0909;
	color: #ff0909;
}

.inputWrong:focus {
	outline-color: #ff0909;
}

.error {
	margin: -16px 0 0;
	color: #ff0909;
}

.link {
	color: #212028;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-decoration-line: underline;
}

.button {
	margin: 32px 0 80px;
	width: 251px;
	height: 48px;
}
