.container {
	max-width: 846px;
	margin: 105px auto 160px;
}

.header {
	margin: 0 0 15px;
	width: 524px;
	font-size: 40px;
	font-weight: 600;
	line-height: 44px;
}

.caption {
	margin: 0;
	color: #21272a;
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
}

.form {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}

.inputCaption {
	color: #212028;
	margin: 0 0 8px;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.input {
	margin: 0 0 5px;
	width: 484px;
	height: 64px;
	border-radius: 20px;
	padding: 0 20px;
	border: 1px solid #a9c6c5;
	color: #6f6f6f;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.input:focus {
	outline-style: solid;
	outline-color: #a9c6c5;
}

.inputWrong {
	border-color: #ff0909;
	color: #ff0909;
}

.inputWrong:focus {
	outline-style: solid;
	outline-color: #ff0909;
}

.error {
	margin: 0 0 -18px;
	color: #ff0909;
}

.link {
	color: #212028;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-decoration-line: underline;
}

.button {
	margin: 48px 0 88px;
	width: 295px;
	height: 48px;
}

.apiError {
	margin: 54px 0 -44px;
	color: #ff0909;
}
