.header {
	display: flex;
	padding: 18px 80px;
	margin: 0 auto;
	box-sizing: border-box;
	justify-content: space-between;
	justify-content: center;
	align-items: center;
	background-color: #f2f2f2;
	border-bottom: 1px solid black;

	.headerNav {
		display: flex;
		flex-direction: row;
		gap: 16px;
		text-decoration: none;
		align-items: center;
		text-align: center;
		justify-content: space-between;
		color: black;
		padding: 0 0 0 3px;
		margin: 0;
		width: 100%;
	}

	.headerNav > * {
		width: 100%;
	}

	.headerNav > *:nth-child(1),
	.headerNav > *:nth-child(3) {
		background: none;
	}

	.headerNav > *:nth-child(2) {
		background: none;
	}

	.navLinks {
		position: relative;
		display: flex;
		margin: 0, auto;
		gap: 16px;
		justify-content: center;
		align-items: center;
	}

	.mainBtn {
		width: 329px;
		height: 48px;
		padding: 0;
		margin: 0;
		font-size: 20px;
		background-color: black;
		border-radius: 40px;
		color: white;
		text-decoration: none;
		align-items: center;
		justify-content: center;
	}

	.logBtn {
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		padding: 12px 32px;
		border: 2px black solid;
		border-radius: 20px;
		cursor: pointer;
		margin: 0;
	}

	.navLink {
		text-decoration: none;
		font-weight: 600;
		font-size: 15px;
		line-height: 18px;
		color: black;
		padding: 0;
		margin: 0;

		&:hover {
			opacity: 0.8;
		}
	}

	.navAuthbar {
		display: flex;
		gap: 30px;
		align-items: center;
		justify-content: end;
	}

	//   @media screen and (max-width: 800px) {}
}
