.header {
	display: flex;
	padding: 24px 80px;
	margin: 0 auto;
	box-sizing: border-box;
	justify-content: space-between;
	justify-content: center;
	align-items: center;
	background-color: #ebe7dc;

	.headerNav {
		display: flex;
		flex-direction: row;
		text-decoration: none;
		align-items: center;
		text-align: center;
		justify-content: space-between;
		color: rgba(52, 52, 52, 1);
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.logoBar {
		flex-basis: 20%;
	}

	.navLinks {
		position: relative;
		display: flex;
		margin: 0;
		padding: 0;
		gap: 40px;
		justify-content: center;
		align-items: center;
		flex-grow: 1;
	}

	.mainBtn {
		width: 329px;
		height: 48px;
		padding: 0;
		margin: 0;
		font-size: 20px;
		font-weight: 600;
		line-height: 24px;
		background-color: rgba(52, 52, 52, 1);
		border-radius: 12px;
		color: rgba(235, 231, 220, 1);
		text-decoration: none;
		align-items: center;
		justify-content: center;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: #a9c6c5;
			color: rgba(52, 52, 52, 1);
		}
	}

	.logBtn {
		width: 134px;
		height: 48px;
		font-weight: 600;
		font-size: 20px;
		line-height: 22px;
		padding: 12px 30px;
		border: 2px rgba(52, 52, 52, 1) solid;
		border-radius: 10px;
		cursor: pointer;
		margin: 0;
		flex-basis: 20%;
		background-color: #ebe7dc;
		transition: border 0.3s ease;

		&:hover {
			color: rgba(52, 52, 52, 1);
			border: 2px #a9c6c5 solid;
		}
	}

	.navLink {
		text-decoration: none;
		font-weight: 600;
		font-size: 18px;
		line-height: 20px;
		color: rgba(52, 52, 52, 1);
		padding: 0;
		margin: 0;

		&:hover {
			color: rgba(169, 198, 197, 1);
		}
	}

	.navAuthbar {
		display: flex;
		gap: 30px;
		align-items: center;
		justify-content: end;
		flex-basis: 20%;
	}

	//   @media screen and (max-width: 800px) {}
}
