.header {
	display: flex;
	padding: 18px 80px;
	margin: 0 auto;
	box-sizing: border-box;
	justify-content: space-between;
	background-color: #F2F2F2;
	position: relative;
	border-bottom: 1px solid black;
}
