:root {
	--font-family-main: 'Montserrat', serif;
	--font-family-secondary: 'Segoe Print', serif;
	color: rgba(52, 52, 52, 1);
}

@font-face {
	font-family: Montserrat;
	font-weight: 400;
	src: url('../../vendor/fonts/Montserrat-Regular.ttf');
}

@font-face {
	font-family: Montserrat;
	font-weight: 500;
	src: url('../../vendor/fonts/Montserrat-Medium.ttf');
}

@font-face {
	font-family: Montserrat;
	font-weight: 600;
	src: url('../../vendor/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
	font-family: Segoe Print;
	font-weight: 400;
	src: url('../../vendor/fonts/segoeprint.ttf');
}

@font-face {
	font-family: Segoe Print;
	font-weight: 600;
	src: url('../../vendor/fonts/segoeprint_bold.ttf');
}
