:root {
	--font-family-main: Monserrat, 'Segoe Print', serif;
	--color-red: red; // Проверка scss переменных
}

@font-face {
	font-family: Montserrat;
	font-weight: 400;
	src: url('../../vendor/fonts/Montserrat-Regular.ttf');
}

@font-face {
	font-family: Montserrat;
	font-weight: 600;
	src: url('../../vendor/fonts/Montserrat-SemiBold.ttf');
}
