.info {
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	background-color: #f6f6f6;
	width: 198px;
	height: 220px;
	margin: 0;
}

.number {
	display: flex;
	align-self: center;
	margin: 13px 23px 25px;
	gap: 12px;
}

.numberText {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.2;
	color: #212028;
	margin: 0;
	padding: 0;
	text-align: center;
}

.button {
	border: none;
	background-color: #f6f6f6;
	width: 24px;
	height: 24px;
	display: flex;
	padding: 0;
}

.arrow {
	width: 24px;
	height: 24px;
}

.subtitle {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.25;
	color: #6f6f6f;
	margin: 0 0 8px 12px;
	padding: 0;
}

.text {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.25;
	color: #212028;
	margin: 0 0 12px 12px;
	padding: 0;
}
