.info {
	display: flex;
	flex-direction: column;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #fff;
	margin: 0 20px 0 0;
	width: 197px;
	height: 218px;
}

.title {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.2;
	color: #343434;
	margin: 12px 12px 24px 12px;
	padding: 0;
}

.arrow {
	width: 24px;
	height: 24px;
}

.subtitle {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.25;
	color: #6f6f6f;
	margin: 0 12px 8px 12px;
	padding: 0;
}

.text {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.25;
	color: #343434;
	margin: 0 12px 12px 12px;
	padding: 0;
}
