.container {
	max-width: 521px;
	margin: 108px auto 232px 300px;
}

.header {
	margin: 0 0 32px;
	font-size: 40px;
	font-weight: 600;
	line-height: 44px;
}

.authForm {
	display: flex;
	flex-direction: column;
}

.inputCaption {
	color: rgba(52, 52, 52, 1);
	margin: 0 0 8px;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}

.input {
	margin: 0 0 5px;
	width: calc(100% - 40px);
	height: 64px;
	border-radius: 10px;
	padding: 0 20px;
	border: 1px solid #a9c6c5;
	color: #6f6f6f;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.input:focus {
	outline-style: solid;
	outline-color: #a9c6c5;
}

.inputWrong {
	border-color: #ff0909;
	color: #ff0909;
}

.inputWrong::placeholder {
	color: #ff0909;
}

.inputWrong:focus {
	outline-style: solid;
	outline-color: #ff0909;
}

.input:first-of-type {
	margin-bottom: 20px;
}

.error {
	margin: -18px 0 0;
	color: #ff0909;
}

.passwordContainer {
	margin: 0;
	width: 100%;
	position: relative;
}

.eyeBtn {
	position: absolute;
	right: 10px;
	top: 18px;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.eyeBtnWrong {
	color: #ff0909;
}

.passwordSpan {
	margin: 0;
	color: #212028;
	font-size: 12px;
	font-weight: 400;
	line-height: 14px;
}

.link {
	display: block;
	color: #212028;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-decoration-line: underline;
}

.buttonContainer {
	height: max-content;
	margin: 4px 0 12px;
	display: flex;
	flex-direction: row;
	gap: 32px;
	align-items: center;
}

.button {
	width: 131px;
	height: 48px;
}

.apiError {
	margin: 26px 0 0;
	color: #ff0909;
}
