.footer {
	display: flex;
	flex-direction: column;
	padding: 18px 80px;
	margin: 0 auto;
	box-sizing: border-box;
	justify-content: space-between;
	justify-content: center;
	align-items: center;
	background-color: white;

	.footerNav {
		display: flex;
		flex-direction: row;
		text-decoration: none;
		align-items: center;
		text-align: center;
		justify-content: space-between;
		color: black;
		padding: 30px 0;
		margin: 0;
		width: 100%;
	}

	.navLinks {
		position: relative;
		display: flex;
		margin: 0, auto;
		gap: 24px;
		justify-content: center;
		align-items: center;
	}

	.logBtn {
		font-weight: 600;
		font-size: 16px;
		line-height: 20px;
		padding: 12px 32px;
		border: 2px black solid;
		border-radius: 20px;
		cursor: pointer;
		margin: 0;
		//   flex-basis: 20%;
	}

	.navLink {
		text-decoration: none;
		font-weight: 600;
		font-size: 18px;
		line-height: 20px;
		color: black;
		padding: 0;
		margin: 0;

		&:hover {
			opacity: 0.6;
		}
	}

	.copyRightBlock {
		display: flex;
		width: 100%;
	}

	.copyRight {
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
	}
}
