.container {
	margin: 80px auto 80px;
	max-width: 847px;
}

.header {
	margin: 0 0 32px;
	font-size: 40px;
	font-weight: 600;
	line-height: 44px;
}

.caption {
	margin: 0;
	font-size: 24px;
	font-weight: 400;
	line-height: 36px;
}

.subtitle {
	margin: 32px 0 20px;
	font-size: 20px;
	font-weight: 600;
	line-height: 26px;
}

.list {
	padding-inline-start: 30px;
	font-size: 20px;
	font-weight: 400;
	line-height: 26px;
}
