.clientSide {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	align-self: flex-start;
	margin: 0;
	padding: 24px 0 24px 80px;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.2;
	color: #343434;
	background-color: #fff;
	width: 100%;
}
