.container {
	display: flex;
	margin: 0 auto 100px 80px;
	justify-content: start;
}

.row {
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
}

.title {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.1;
	color: #343434;
	margin: 24px 0 24px 80px;
	padding: 0;
}

.close {
	height: 48px;
	background-color: #343434;
	border: none;
	border-radius: 10px;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.2;
	color: #ebe7dc;
	margin: 11px 80px 11px 0;
	padding: 12px 32px;
	text-align: center;
}

.close:hover {
	background-color: #a9c6c5;
	color: #343434;
	cursor: pointer;
	transition: 1s ease;
}
