.messageForm {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.messageInput {
	border: 1px solid #a9c6c5;
	border-radius: 10px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #aaabad;
	outline-color: #343434;
	margin: 0;
	padding: 13px 12px;
	width: 820px;
	height: 36px;
	max-height: 196px;
	resize: none;
}

.errorInput {
	outline-color: #ee505a;
}

.errorText {
	font-size: 12px;
	line-height: 1.2;
	font-weight: 400;
	color: #ee505a;
	display: none;
}

.visible {
	display: inline;
}

.submitButton {
	border-radius: 12px;
	width: 179px;
	height: 48px;
	border: none;
	background-color: #343434;
	padding: 12px 32px;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.2;
	color: #ebe7dc;
}

.submitButton:hover {
	background-color: #a9c6c5;
	color: #343434;
	cursor: pointer;
	transition: 1s ease;
}
