.body {
	margin: 0;
	width: 954px;
}

.info {
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 36px;
	margin: 32px 0 20px;
    color:rgba(52, 52, 52, 1);
}

.list {
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 36px;
	margin-bottom: 32px;

  li {
	color:rgba(52, 52, 52, 1);
  }
}

.text {
	margin-top: 40px;
	margin-bottom: 12px;
}

.span {
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 14px;
	margin-bottom: 20px;
}

.input {
	display: none;
}
