.mainSection {
	display: flex;
	padding: 90px 0 0 0;
	margin: 0;
	flex-direction: column;
	justify-content: center;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	max-width: 856px;
	// border: 1px red solid;

	.mainHeader {
		margin: 0 0 10px 0;
		padding: 0;
		color: rgba(52, 52, 52, 1);
		font-weight: 400;
		font-size: 88px;
		line-height: 132px;
		font-family: var(--font-family-secondary);
		// border: 1px red solid;
		text-align: center;

		//   @media screen and (max-width: 800px) {}
	}

	.textBlock {
		display: flex;
		flex-direction: column;
		max-width: 846px;
		// border: 1px red solid;
		padding: 0;
		margin: 0;
	}

	.mainSubHeader {
		color: rgba(52, 52, 52, 1);
		font-weight: 400;
		font-size: 24px;
		line-height: 36px;
		padding: 0;
		margin: 0;
		// border: 1px red solid;
		align-self: center;
		text-align: center;

	}

	.mainText {
		color: rgba(52, 52, 52, 1);
		font-weight: 400;
		max-width: 700px;
		font-size: 24px;
		line-height: 36px;
		padding: 20px 0 0 0;
		// padding: 0;
		margin: 0;
		align-self: center;

	}
}
