.messageItem {
	border-radius: 25px;
	position: relative;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	color: #343434;
	margin: 0;
	padding: 24px;
	width: 798px;
}

.me {
	background-color: #fff;
}

.other {
	background-color: #EEFFFF;
}

.messageItem:before,
.messageItem:after {
	content: '';
	position: absolute;
	bottom: 0;
	height: 25px;
}

.me:before {
	right: -7px;
	width: 20px;
	background-color: #fff;
	border-bottom-left-radius: 16px 14px;
}

.me:after {
	right: -26px;
	width: 26px;
	background-color: #EBE7DC;
	border-bottom-left-radius: 10px;
}

.other:before {
	left: -7px;
	width: 20px;
	background-color: #EEFFFF;
	border-bottom-right-radius: 16px 14px;
}

.other:after {
	left: -26px;
	width: 26px;
	background-color: #EBE7DC;
	border-bottom-right-radius: 10px;
}
